@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbf3;
    font-family: "Poppins", sans-serif;
}

#parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#parent .box {
    background-color: #04192c;
    width: 15%;
    text-align: center;
    color: #02ef61;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    transition: 1s;
    /* overflow: hidden; */
}
#parent .box:hover {
    transform: scale(1.1);
}

#parent .box a {
    color: #02ef61;
    font-weight: 900;
    font-size: 35px;
    text-decoration: none;
}

@media (max-width: 768px) {
    #parent .box {
        width: 50%;
        margin: 20px;
    }
}
@media (max-width: 590px) {
    #parent .box {
        width: 100%;
        /* margin: 20px; */
    }
}
@media (max-width: 1130px) {
    #parent .box {
        width: 50%;
        margin: 60px;
        font-size: 20px;
    }
}
@media (max-width: 1330px) {
    #parent .box {
        width: 30%;
        margin: 60px;
    }
}
